In [10]:
print("this is a class of 20 students")

girls = ["Samantha","Jada", "Jane", "Claire", "Elizabeth", "Mary", "Susan", "Waje", "Taibat", "Lilian"]
boys = ["Charles", "Jude", "James", "Kelvin", "Biodun", "Wale", "Kunle", "Mathhew", "Tom", "Kayode"]
girl_ages = ['17', '16', '17', '18', '16', '18', '17', '20', '19', '17']
girl_heights = ['5.5', '6.0', '5.4', '5.9', '5.6', '5.5', '6.1', '6.0', '5.7', '5.5']
girl_scores = ['80', '85', '70', '60', '76', '66', '87', '95', '50', '49']
boy_heights = ['5.7', '5.9', '5.8', '6.1', '5.9', '5.5', '6.1', '5.4', '5.8', '5.7']
boy_scores = ['74', '87', '75', '68', '66', '78', '87', '98', '54', '60']
boy_ages = ['19', '16', '18' ,'17', '20', '19', '16', '18', '17', '19']

for (i,j,k,l,) in zip(girls, girl_ages, girl_heights, girl_scores):
        print(i,j,k,l)
        
        
for(a,b,c,d) in zip(boys,boy_ages,boy_heights,boy_scores):
         print(a,b,c,d)

this is a class of 20 students
Samantha 17 5.5 80
Jada 16 6.0 85
Jane 17 5.4 70
Claire 18 5.9 60
Elizabeth 16 5.6 76
Mary 18 5.5 66
Susan 17 6.1 87
Waje 20 6.0 95
Taibat 19 5.7 50
Lilian 17 5.5 49
Charles 19 5.7 74
Jude 16 5.9 87
James 18 5.8 75
Kelvin 17 6.1 68
Biodun 20 5.9 66
Wale 19 5.5 78
Kunle 16 6.1 87
Mathhew 18 5.4 98
Tom 17 5.8 54
Kayode 19 5.7 60