In [3]:
#Question 1 
import pandas as pd

PAU_SIMS = {'Student Name':['Oluchi Mordi','Adams Aliyu','Shania Bolade','Adekunle Gold','Blanca Edemoh'],
            'Matric.Number':['ACC10211111','ECO10110101','CSC10328828','EEE11020202','MEE10202001'],
            'Department':['Accounting','Economics','Computer','Electrical','Mechanical'],'Level':[300,100,200,200,100]} 

df = pd.DataFrame(PAU_SIMS)

print(df)
df.to_csv('PAU_SIMS')

    Student Name Matric.Number  Department  Level
0   Oluchi Mordi   ACC10211111  Accounting    300
1    Adams Aliyu   ECO10110101   Economics    100
2  Shania Bolade   CSC10328828    Computer    200
3  Adekunle Gold   EEE11020202  Electrical    200
4  Blanca Edemoh   MEE10202001  Mechanical    100

In [21]:
#Question 2 
import pandas as pd 

def percentage_leverage(asset,liability):
    pl = (liability/asset)*100
    print(pl)
    

Enron_pl = percentage_leverage(1000000,200000)
Anderson_pl = percentage_leverage(1500000,500000)
GK_Jones_pl  =percentage_leverage(3000000,1500000)
Mica_pl = percentage_leverage(250000,50000)
Dune_pl = percentage_leverage(800000,300000)




Global_Economy  = {'Company':['Enron','Anderson','Gk Jones','Mica','Dune'],'Date':[1987,1936,2001,1996,2008],
                   'Assets':[1000000,1500000,3000000,250000,800000],'Liability':[200000,500000,1500000,50000,300000],
                   'Percentage Leverage':[20.0,33.3,50.0 ,20.0,37.5]}

df = pd.DataFrame(Global_Economy)
print(df)
df.to_csv('Global_Economy')

20.0
33.33333333333333
50.0
20.0
37.5
    Company  Date   Assets  Liability  Percentage Leverage
0     Enron  1987  1000000     200000                 20.0
1  Anderson  1936  1500000     500000                 33.3
2  Gk Jones  2001  3000000    1500000                 50.0
3      Mica  1996   250000      50000                 20.0
4      Dune  2008   800000     300000                 37.5